<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Title  -->
  <title>Shop</title>

  <!-- Favicon  -->
  <!-- <link rel="icon" href="/public/img/core-img/favicon.ico" /> -->

  <!-- Core Style CSS -->
  <link rel="stylesheet" type="text/css" href="/public/css/core-style.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/custom-Index.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.1/dist/css/themes/splide-skyblue.min.css" />
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.1/dist/js/splide.min.js"></script>
</head>

<body onload="process()">
  <!-- Search Wrapper Area Start -->
  <div class="search-wrapper section-padding-100">
    <div class="search-close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search-content">
            <form action="#" method="get">
              <input type="search" name="search" id="search" placeholder="Nhập từ khóa..." />
              <button type="submit">
                <img src="/public/img/core-img/search.png" alt="" />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Wrapper Area End -->
  <header>
    <div class="header-container">
      <div class="header-container_slick">
        <div class="left-container"></div>
        <div class="center-container">
          <div class="center-container__img">
            <a href="/"><img src="/public/img/core-img/Essence_logo_in_black.png" /></a>
          </div>
        </div>
        <div class="right-container">
          <div>
            <a href="/cart" class="cart-nav pr-2"><img src="/public/img/core-img/cart.png" alt="" /><span
                style="color: #FBB933; height: 15px; width: 15px;">
                <%= customer ? customer.listProduct.length : 0 %>
              </span> </a>
            <a href="/favorite" class="fav-nav pr-2"><img src="/public/img/core-img/favorites.png" alt="" /></a>
            <a href="#" class="search-nav pr-2"><img src="/public/img/core-img/search.png" alt="" /></a>
            <!-- <a class="pr-3" href="">
                          <img src="/public/img/core-img/heart.png" />
                      </a>
                      <a class="pr-3" href="">
                          <img src="/img/core-img/shopping-bag.png" />
                      </a> -->
          </div>
        </div>
      </div>
      <div class="header-container_route">
        <div class="header-container-box">
          <div class="sub-menu">
            <a class="a-submenu-tap" href="/">Trang chủ</a>
            <div class="sub-menu-nav">
              <button class="nav-btn">
                <a style="float: none; min-width: none;" href="/product">Trang sức</a>
              </button>
              <div class="sub-menu-alt">
                <div class="sub-menu-get">
                  <a class="a-submenu" href="#">Dây chuyền</a>
                  <a class="a-submenu" href="#">Hoa tai</a>
                  <a class="a-submenu" href="#">Nhẫn</a>
                  <a class="a-submenu" href="#">Vòng tay</a>
                  <a class="a-submenu" href="#">Trang trí</a>
                </div>
              </div>
            </div>
            <a class="a-submenu-tap" href="#">Nước hoa</a>
            <a class="a-submenu-tap" href="contact">Liên hệ</a>
            <a class="a-submenu-tap" href="blog">Blog</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    <div class="cart-table-area section-padding-100">
      <div class="container-fluid">
        <% if(customer.listProduct.length> 0){%>
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="cart-title mt-50">
                <h2>Giỏ hàng</h2>
              </div>
              <hr class="divider" />
              <div class="cart-table clearfix">
                <table class="table table-responsive">
                  <thead>
                    <tr>
                      <th>Hình ảnh</th>
                      <th>Tên</th>
                      <th>Giá bán</th>
                      <th>Số lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% customer.listProduct.forEach(product=> {%>
                      <tr>
                        <td class="cart_product_img">
                          <a href="#"><img src="<%= product.productImage %> " style="width: 50%; border-radius: 10px"
                              alt="Product" /></a>
                        </td>
                        <td class="cart_product_desc">
                          <h5>
                            <%= product.productName %>
                          </h5>
                        </td>
                        <td class="price">
                          <span>
                            <%= product.productPrice %>
                          </span>
                        </td>
                        <td class="qty">
                          <div class="qty-btn d-flex" style="align-items: center">
                            <form style="flex-direction: row; display: flex"
                              action="/cart/update/<%= product.productID %>" method="POST">
                              <button onclick="down()" type="submit" class="qty-up-down qty-down">
                                -
                              </button>
                              <div class="quantity">
                                <input readonly style="border: none; outline: none" type="number" class="qty-text"
                                  id="qty" step="1" min="1" max="300" name="amount" value="<%= product.amount %>" />
                              </div>
                              <button onclick="up(event)" type="submit" class="qty-up-down qty-up">
                                +
                              </button>
                            </form>
                            <a class="ml-5 del-product-cart"
                              onclick="comfirmDelete('Bạn có muốn xóa sản phẩm này?',event)"
                              href="/cart/delete/<%= product.productID %>">
                              <i class="fa fa-close"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <%}) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12 col-lg-4 section-padding-100">
              <div class="cart-summary">
                <h5>Thông tin thanh toán</h5>
                <% totalCost=0 %>
                  <% customer.listProduct.forEach(product=> {%>
                    <% totalCost +=parseInt(product.productPrice) %>
                      <%}) %>
                        <ul class="summary-table">
                          <li class="total-cost cost">
                            <div class="box-cost">
                              <span>Tổng cộng:</span> <span>
                                <%= totalCost %>
                              </span>
                            </div>
                          </li>
                          <li class="fee cost">
                            <div class="box-cost">
                              <span>Phí vận chuyển:</span> <span> 100000 </span>
                            </div>
                          </li>
                          <li class="total-payment cost">
                            <div class="box-cost">
                              <span>Thành tiền:</span>
                              <span>
                                <%= (totalCost + 100000) %>
                              </span>
                            </div>
                          </li>
                        </ul>
                        <div class="cart-btn mt-100">
                          <a href="/checkout" class="btn amado-btn w-100">Thanh toán</a>
                        </div>
              </div>
            </div>
          </div>
          <%} else {%>
            <div class="col-12 col-lg-12">
              <div class="cart-title mt-50">
                <h2>Giỏ hàng</h2>
              </div>
              <hr class="divider" />
              <div style="
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              ">
                <img src="../public/img/core-img/empty.jpg" width="350px" alt="empty" />
                <h4>Hổng có gì để mua hết!</h4>
                <a class="mt-5 shopnow" href="/product">Mua ngay</a>
              </div>
            </div>
            <%}%>
      </div>
    </div>
  </div>
  <!-- ##### Footer Area Start ##### -->
  <footer class="footer_area clearfix">
    <div class="container">
      <div class="row">
        <!-- Single Widget Area -->
        <div class="col-12 col-md-6">
          <div class="single_widget_area d-flex mb-30">
            <!-- Logo -->
            <div class="footer-logo mr-50">
              <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
            </div>
            <!-- Footer Menu -->
            <div class="footer_menu">
              <ul>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget Area -->
      </div>

      <div class="row align-items-end">
        <!-- Single Widget Area -->
        <!-- <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_heading mb-30">
                        <h6>Subscribe</h6>
                    </div>
                    <div class="subscribtion_form">
                        <form action="#" method="post">
                            <input type="email" name="mail" class="mail" placeholder="Your email here">
                            <button type="submit" class="submit"><i class="fa fa-long-arrow-right"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div> -->
        <!-- Single Widget Area -->
        <div class="col-12 col-md-6">
          <div class="single_widget_area">
            <div class="footer_social_area">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
      </div>
    </div>
  </footer>
  <!-- ##### Footer Area End ##### -->
  <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
  <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/public/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/public/js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="/public/js/plugins.js"></script>
  <!-- Active js -->
  <script src="/public/js/active.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <% if(message && message.length> 0){%>
    <script>
      toastr.success("<%= message %>", "Thông báo", {
        timeOut: 1500,
        progressBar: true,
        closeButton: true,
      });
    </script>
    <%} %>
      <script>
        function comfirmDelete(msg, event) {
          if (window.confirm(msg) == true) {
            return true;
          }
          event.preventDefault();
          return false;
        }
      </script>
      <script>
        function up(event) {
          var quantity =
            event.target.parentElement.children[1].firstElementChild.value;
          quantity < 300 ? event.target.parentElement.children[1].firstElementChild.value = parseInt(quantity) + 1 : event.target.parentElement.children[1].firstElementChild.value = 300;
        }
        function down() {
          var quantity =
            event.target.parentElement.children[1].firstElementChild.value;
          quantity > 1 ? event.target.parentElement.children[1].firstElementChild.value = parseInt(quantity) - 1 : event.target.parentElement.children[1].firstElementChild.value = 1;

        }
        function process() {
          var price = document.querySelectorAll("td.price span");
          var totalCost = document.querySelector("li.total-cost span:last-child");
          var fee = document.querySelector("li.fee span:last-child");
          var amount = document.querySelectorAll("input.qty-text");
          var totalPayment = document.querySelector(
            "li.total-payment span:last-child"
          );
          listPrice = Array.from(price).map((e) => parseInt(e.textContent));
          listAmount = Array.from(amount).map((e) => parseInt(e.value));
          price.forEach(e => e.textContent = e.textContent.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + ' đ');
          var totalCostTemp = 0;
          for (var i = 0; i < listPrice.length; i++) {
            totalCostTemp += listPrice[i] * listAmount[i];
          }
          totalCost.textContent = totalCostTemp.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + ' đ';
          totalPayment.textContent = (totalCostTemp + parseInt(fee.textContent)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + ' đ';
          fee.textContent = fee.textContent.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + ' đ'

        }
      </script>
</body>

</html>