<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Title  -->
  <title>Shop</title>

  <!-- Favicon  -->
  <!-- <link rel="icon" href="/public/img/core-img/favicon.ico" /> -->

  <!-- Core Style CSS -->
  <link rel="stylesheet" type="text/css" href="/public/css/core-style.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/custom-Index.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.1/dist/css/themes/splide-skyblue.min.css" />
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.1/dist/js/splide.min.js"></script>
</head>

<body>
  <!-- Search Wrapper Area Start -->
  <div class="search-wrapper section-padding-100">
    <div class="search-close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search-content">
            <form action="/search" method="get">
              <input type="search" name="search" id="search" placeholder="Nhập từ khóa..." />
              <button type="submit">
                <img src="/public/img/core-img/search.png" alt="" />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Wrapper Area End -->
  <header>
    <div class="header-container">
      <div class="header-container_slick">
        <div class="left-container"></div>
        <div class="center-container">
          <div class="center-container__img">
            <a href="/"><img src="/public/img/core-img/Essence_logo_in_black.png" /></a>
          </div>
        </div>
        <div class="right-container">
          <div>
            <a href="/cart" class="cart-nav pr-2"><img src="/public/img/core-img/cart.png" alt="" /><span
                style="color: #FBB933; height: 15px; width: 15px;">
                <%= customer ? customer.listProduct.length : 0 %>
              </span> </a>
            <a href="/favorite" class="fav-nav pr-2"><img src="/public/img/core-img/favorites.png" alt="" /></a>
            <a href="#" class="search-nav pr-2"><img src="/public/img/core-img/search.png" alt="" /></a>
            <!-- <a class="pr-3" href="">
                          <img src="/public/img/core-img/heart.png" />
                      </a>
                      <a class="pr-3" href="">
                          <img src="/img/core-img/shopping-bag.png" />
                      </a> -->
          </div>
        </div>
      </div>
      <div class="header-container_route">
        <div class="header-container-box">
          <div class="sub-menu">
            <a class="a-submenu-tap" href="/">Trang chủ</a>
            <div class="sub-menu-nav">
              <button class="nav-btn">
              <a style="float: none; min-width: none;" href="/product">Trang sức</a>
              </button>
              <div class="sub-menu-alt">
                <div class="sub-menu-get">
                  <a class="a-submenu" href="#">Dây chuyền</a>
                  <a class="a-submenu" href="#">Hoa tai</a>
                  <a class="a-submenu" href="#">Nhẫn</a>
                  <a class="a-submenu" href="#">Vòng tay</a>
                  <a class="a-submenu" href="#">Trang trí</a>
                </div>
              </div>
            </div>
            <a class="a-submenu-tap" href="#">Nước hoa</a>
            <a class="a-submenu-tap" href="contact">Liên hệ</a>
            <a class="a-submenu-tap" href="blog">Blog</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="welcome_area bg-img background-overlay"
    style="background-image: url(https://locphuc.com.vn/Content/Images/Event/SlideBanner2_PC.jpg);">
    <div class="container h-100">
      <div class="container-hero row h-100 align-items-center ">
        <div class="col-12">
          <div class="hero-view">
            <a href="#" class="btn-view">View collection</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="spacer-component ">

  </div>
  <!-- ##### Top Catagory Area Start ##### -->
  <div class="quicklink-component">
    <div class="desktop-quicklink">
      <div class="quicklink-heading">
        <div class="description">
          <div>
            <p>
              <span class="font-size-24">Danh mục sản phẩm</span>
              <span>Thiết kế tuyệt vời và tay nghề thủ công vô song.</span>
            </p>
          </div>
        </div>
      </div>
      <div class="quicklink-content">
        <% data.forEach(element=> { %>
          <% if(element.status==true){%>
            <div class="quicklink-content-img-container">
              <div class="quicklink-content-container_img">
                <a href="/categories/<%= element._id %>">
                  <div class="quicklink-tile">
                    <img src="<%= element.thumbnail %>" alt="" />
                  </div>
                </a>
                <div class="quicklink-imgtext">
                  <a class="quicklink-imgtext_link" href="/categories/<%= element._id %>">
                    <span>
                      <span class="quicklink-imgtext_title">
                        <%= element.typeName %>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <%} %>
              <%}) %>
      </div>
    </div>
  </div>
  <!-- ##### Top Catagory Area End ##### -->
  <!--#### Start space default -->
  <div class="spacer-component ">

  </div>
  <!-- ### End space defalt -->
  <!-- ##### CTA Area Start ##### -->
  <div>
    <div class="cta-area">
      <div class="area-left">
        <a href="">
          <div>
            <img src="/public/img/bg-img/rg-1.jpg" alt="" />
          </div>
        </a>
      </div>
      <div class="insert-text">
        <div class="text-content">
          <h2>
            Yêu theo cách của bạn
          </h2>
          <div>
            <p>Bạn sẽ biết tình yêu dành cho ai. Bạn sẽ biết khi nào là lúc thổ lộ.</p>
          </div>
          <div>
            <a class="default-a" href="">
              <span>
                Khám phá tình yêu và sự gắn kết
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### CTA Area End ##### -->
  <section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Sản phẩm phổ biến</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="popular-products-slides owl-carousel">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Footer Area Start ##### -->
  <footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
        </div>

        <div class="row align-items-end">
            <!-- Single Widget Area -->
            <!-- <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_heading mb-30">
                        <h6>Subscribe</h6>
                    </div>
                    <div class="subscribtion_form">
                        <form action="#" method="post">
                            <input type="email" name="mail" class="mail" placeholder="Your email here">
                            <button type="submit" class="submit"><i class="fa fa-long-arrow-right"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div> -->
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i
                                class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
        </div>
    </div>
</footer>
  <!-- ##### Footer Area End ##### -->
  <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
  <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/public/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/public/js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="/public/js/plugins.js"></script>
  <!-- Active js -->
  <script src="/public/js/active.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <% if(message && message.length> 0){%>
    <script>
      toastr.success('<%= message %>', 'Thông báo', { timeOut: 1500, progressBar: true, closeButton: true });
    </script>
    <%} %>
</body>

</html>