<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Title  -->
  <title>Shop</title>

  <!-- Favicon  -->
  <!-- <link rel="icon" href="/public/img/core-img/favicon.ico" /> -->

  <!-- Core Style CSS -->
  <link rel="stylesheet" type="text/css" href="/public/css/core-style.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/custom-Index.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.1/dist/css/themes/splide-skyblue.min.css" />
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.1/dist/js/splide.min.js"></script>
</head>

<body>
  <!-- Search Wrapper Area Start -->
  <div class="search-wrapper section-padding-100">
    <div class="search-close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search-content">
            <form action="/product/search" method="get">
              <input type="search" name="search" id="search" placeholder="Nhập từ khóa..." />
              <button type="submit">
                <img src="/public/img/core-img/search.png" alt="" />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Wrapper Area End -->
  <header>
    <div class="header-container">
      <div class="header-container_slick">
        <div class="left-container"></div>
        <div class="center-container">
          <div class="center-container__img">
            <a href="/"><img src="/public/img/core-img/Essence_logo_in_black.png" /></a>
          </div>
        </div>
        <div class="right-container">
          <div>
            <a href="/cart" class="cart-nav pr-2"><img src="/public/img/core-img/cart.png" alt="" /><span
                style="color: #FBB933; height: 15px; width: 15px;">
                <%= customer ? customer.listProduct.length : 0 %>
              </span> </a>
            <a href="/favorite" class="fav-nav pr-2"><img src="/public/img/core-img/favorites.png" alt="" /></a>
            <a href="#" class="search-nav pr-2"><img src="/public/img/core-img/search.png" alt="" /></a>
            <!-- <a class="pr-3" href="">
                          <img src="/public/img/core-img/heart.png" />
                      </a>
                      <a class="pr-3" href="">
                          <img src="/img/core-img/shopping-bag.png" />
                      </a> -->
          </div>
        </div>
      </div>
      <div class="header-container_route">
        <div class="header-container-box">
          <div class="sub-menu">
            <a class="a-submenu-tap" href="/">Trang chủ</a>
            <div class="sub-menu-nav">
              <button class="nav-btn">
                <a style="float: none; min-width: none;" href="/product">Trang sức</a>
              </button>
              <div class="sub-menu-alt">
                <div class="sub-menu-get">
                  <a class="a-submenu" href="#">Dây chuyền</a>
                  <a class="a-submenu" href="#">Hoa tai</a>
                  <a class="a-submenu" href="#">Nhẫn</a>
                  <a class="a-submenu" href="#">Vòng tay</a>
                  <a class="a-submenu" href="#">Trang trí</a>
                </div>
              </div>
            </div>
            <a class="a-submenu-tap" href="#">Nước hoa</a>
            <a class="a-submenu-tap" href="contact">Liên hệ</a>
            <a class="a-submenu-tap" href="blog">Blog</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb_area"
    style="background-image: url(/public/img/bg-img/breadcumb.jpg); height: 200px;opacity: 0.5;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="page-title text-center">
            <h2>Trang sức</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcumb Area End ##### -->
  <!-- ##### Shop Grid Area Start ##### -->
  <div class="list-product">
    <div class="left-product">
      <div class="shop_sidebar_area pl-5 pt-4">
        <!-- ##### Single Widget ##### -->
        <div class="widget brands mb-50">
          <!-- Widget Title -->
          <h6 class="widget-title mb-30">Loại sản phẩm</h6>
  
          <div class="widget-desc">
            <!-- Single Form Check -->
            <form class="typeFilter" action="/product/product-filter" method="post">
              <% types.forEach(element=> {%>
                <div class="form-check">
                  <input class="form-check-input" name="selection" type="checkbox" value="<%= element._id %>" />
                  <label class="form-check-label" for="<%= element.typeName.toLowerCase() %>">
                    <%= element.typeName %>
                  </label>
                </div>
                <%}) %>
            </form>
          </div>
        </div>
        <!-- ##### Single Widget ##### -->
        <div class="widget brands mb-50">
          <h6 class="widget-title mb-30">Thương hiệu</h6>
  
          <div class="widget-desc">
            <!-- Single Form Check -->
            <form class="supplierFilter" action="/product/product-filter" method="post">
              <% suppliers.forEach(element=> {%>
                <div class="form-check">
                  <input class="form-check-input" name="supplier" type="checkbox" value="<%= element._id %>"
                    id="<%= element.supplierName.toLowerCase() %>" />
                  <label class="form-check-label" for="<%= element.supplierName.toLowerCase() %>">
                    <%= element.supplierName %>
                  </label>
                </div>
                <%}) %>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="right-product">
      <div class="row pl-5">
        <!-- Single Product Area -->
        <% product=data.length> itemsPerPage ? data.slice((currentPage - 1) * itemsPerPage, currentPage *
          itemsPerPage) : data%>
          <% product.forEach(element=> {%>
            <% if(element.description.status==true){%>
              <div class="col-4 pt-5">
                <div class="single-product-wrapper">
                  <!-- Product Image -->
                  <div class="product-img">
                    <img src="<%= element.description.imageList[0] %> " alt="Image" />
                    <!-- Hover Thumb -->
                    <img class="hover-img" src="<%= element.description.imageList[1] %> " alt="Image" />
                  </div>

                  <!-- Product Description -->
                  <div class="product-description d-flex align-items-center justify-content-between">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data pl-2">
                      <div class="line"></div>
                      <p class="product-price">
                        <%= element.description.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,' ) %>đ
                      </p>
                      <a href="/product/<%= element._id %> ">
                        <h6>
                          <%= element.productName %>
                        </h6>
                      </a>
                    </div>

                    <!-- Ratings & Cart -->
                    <div class="ratings-cart text-right">
                      <div class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <div class="cart" style="display: flex; justify-content: center; align-items: center;">
                        <a class="mr-2" href="/product/favorite/<%= element._id %>" data-toggle="tooltip"
                          data-placement="left" title="Yêu thích"><img width="20px"
                            src="/public/img/core-img/like.svg" alt="" /></a>
                        <!-- <a href="/cart/<%= element._id %>" data-toggle="tooltip" data-placement="left"
                          title="Thêm vào giỏ hàng"><img src="/public/img/core-img/cart.png" alt="" /></a> -->
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center pt-4">
                    <a href="/cart/<%= element._id %>" class="essence-btn text-center">Giỏ hàng</a>
                  </div>
                  <div>
                    
                  </div>
                </div>
              </div>
              <%} %>
                <%}) %>
              <div class="box-paginate">
                <div class="row">
                  <div class="col-12">
                    <!-- Pagination -->
                    <nav aria-label="navigation">
                      <ul class="pagination justify-content-end mt-50">
                        <% totalPage=data.length % itemsPerPage !=0 ? (data.length / itemsPerPage) + 1 : data.length /
                          itemsPerPage %>
                          <% for(var i=1; i <=totalPage; i++){%>
                            <li class="page-item <%= i == currentPage ? 'active' : '' %> ">
                              <a class="page-link" href="/product/page/<%= i %> ">0<%= i %></a>
                            </li>
                            <%} %>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
  <!-- ##### Shop Grid Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <!-- ##### Footer Area Start ##### -->
  <footer class="footer_area clearfix">
    <div class="container">
      <div class="row">
        <!-- Single Widget Area -->
        <div class="col-12 col-md-6">
          <div class="single_widget_area d-flex mb-30">
            <!-- Logo -->
            <div class="footer-logo mr-50">
              <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
            </div>
            <!-- Footer Menu -->
            <div class="footer_menu">
              <ul>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget Area -->
      </div>

      <div class="row align-items-end">
        <!-- Single Widget Area -->
        <!-- <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_heading mb-30">
                        <h6>Subscribe</h6>
                    </div>
                    <div class="subscribtion_form">
                        <form action="#" method="post">
                            <input type="email" name="mail" class="mail" placeholder="Your email here">
                            <button type="submit" class="submit"><i class="fa fa-long-arrow-right"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div> -->
        <!-- Single Widget Area -->
        <div class="col-12 col-md-6">
          <div class="single_widget_area">
            <div class="footer_social_area">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"
                  aria-hidden="true"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
      </div>
    </div>
  </footer>
  <!-- ##### Footer Area End ##### -->
  <!-- ##### Footer Area End ##### -->

  <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
  <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/public/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/public/js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="/public/js/plugins.js"></script>
  <!-- Active js -->
  <script src="/public/js/active.js"></script>
  <script type='text/javascript'>

    $(document).ready(function () {
      $('input[name=supplier]').change(function () {
        $('form.supplierFilter').submit();
      });
      $('input[name=selection]').change(function () {
        $('form.typeFilter').submit();
      });
    });

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <% if(message && message.length> 0){%>
    <script>
      toastr.success("<%= message %>", "Thông báo", {
        timeOut: 1500,
        progressBar: true,
        closeButton: true,
      });
    </script>
    <%} %>
</body>
</body>

</html>